{% extends "index.html" %}

{% block title %}Doug McIntosh{% endblock title %}
{% block content %}
<div style="text-align:center;">
  <h3>Wikipedia/Youtube Library</h3>
  <h4>A Flask Python Web App developed using Visual Studio and published on PythonAnywhere.com</h4>
  <a href="https://github.com/JackManu/portfolio" target="_blank">My GitHub Repository for this project</a>
 <div style="text-align: left;margin-top:1vh;margin-bottom:2vh;margin-right:1vw">

  <p style="padding-left: 5vw"><b>How to use: </b>Enter a search term for something that interests you, choose which Wikipedia pages you would like to save and click the 'Save to database' button. The title(s) of the Wikipedia page(s) chosen will be used as a search term to also save 50 Youtube links.  Click on a couple of the links and visit the 'Data Visualization' section to see them show up on the graphs.</p>

  <div style="height: 45vh; overflow-y: scroll;margin-bottom:1vh">
    <ul style="list-style-type:disc !important;padding-left:2vw !important">
        <li><b>RESTful APIs</b>
          <p>I set up API keys in the Wikipedia and Google API sites to enable connectivity.</p>
          <p>Wikipedia APIs require an additional step to get an authentication token based on the API key (Curl command run through Python subprocess/check_output).  These tokens expire after 3 hours, I think, but I retrieve them every time.</p>
          <p>The Python requests module is used to retrieve the json data from the sources</p>
        </li>
        <li><b>SQLite Database</b>(3, count them, 3 WHOLE tables. lol.  I've definitely dealt with more complex databases and SQL over the years.)
            <ul>
                <li>
                    &nbsp&nbsp&nbsp&nbsp<b>Wikipedia Table</b>
                    <p>Holds the necessary information for a given Wikipedia link.</p>
                </li>
                <li>
                    &nbsp&nbsp&nbsp&nbsp<b>Youtube Table</b>
                    <p>Information pertaining to a Youtube video.  The column 'wiki_id' ties it to with the related entry in the Wikipedia table</p>
                </li>
                <li>
                    &nbsp&nbsp&nbsp&nbsp<b>view_counts Table</b>
                    <p>Entries are inserted to this when the user clicks to view a Wikipedia or Youtube link. This seemed to be the easiest bit of data I could do graphing with</p>
                    <p>This table is only maintaining 7 days worth of data. The Python class for the 'Data Visualization' graphs will perform the delete every time it is instantiated.</p>
                </li>
            </ul>
        </li>
        <li>
            <b>Data Analysis</b>
            <p>Currently showing a few different Python matplotlib graphs based on the data stored in the database.</p>
        </li>
    </ul>
  </div>
 </div>
</div>
{% endblock content %}