{% extends "index.html" %}

{% block title %}Doug McIntosh Site Details{% endblock title %}
{% block content %}
<div style="text-align:center">
    <h4>Wikipedia/Youtube Library</h4>
    <h5>A Flask Python Web App developed using Visual Studio and published on PythonAnywhere.com</h5>
    <a href="https://github.com/JackManu/portfolio" target="_blank">My GitHub Repository for this project</a>
    <div style="text-align: left;margin-top:1vh;margin-bottom:2vh;margin-right:1vw">
        <div style="height: 55vh; overflow-y: scroll;border:1px solid black">
            <h5 style="text-align:center"><b>High Level Items</b></h5>
            <ol style="list-style-type:disc !important;padding-left:2vw !important">
                <li>
                    <b>Wikipedia/Youtube APIs</b>
                    <p>I set up API keys in the Wikipedia and Google API sites to enable connectivity.</p>
                    <p>Wikipedia APIs require an additional step to get an authentication token based on the API key (Curl command run through Python subprocess/check_output).  These tokens expire after 3 hours, I think, but I retrieve them every time.</p>
                    <p>The Python requests module is used to retrieve the json data from the sources</p>
                </li>
                <li>
                    <b>SQLite Database</b>   Currently very small/simple.
                    <ul>
                        <li>
                            &nbsp&nbsp&nbsp&nbsp<b>Wikipedia Table</b>
                            <p>Holds the necessary information for a given Wikipedia link.</p>
                        </li>
                        <li>
                            &nbsp&nbsp&nbsp&nbsp<b>Youtube Table</b>
                            <p>Information pertaining to a Youtube video.  The column 'wiki_id' ties it to the related entry in the Wikipedia table</p>
                        </li>
                        <li>
                            &nbsp&nbsp&nbsp&nbsp<b>view_counts Table</b>
                            <p>Entries are inserted to this when the user clicks to view a Wikipedia or Youtube link. This seemed to be the easiest bit of data that I could create some graphs with.</p>
                            <p>This table is only maintaining 7 days worth of data. The Python class for the graphs will perform the delete every time it is instantiated.</p>
                        </li>
                        <li>
                            &nbsp&nbsp&nbsp&nbsp<b>errors Table</b>
                            <p>I added this in conjunction with better exception handling in the Python code.  Displaying the information is still in progress as of 2/16/2025.</p>
                        </li>
                        <li>
                            &nbsp&nbsp&nbsp&nbsp<b>comments Table</b>
                            <p>Storing any feedback people care to make.</p>
                        </li>
                        <li>
                            &nbsp&nbsp&nbsp&nbsp<b>site_traffic_init Table</b>
                            <p>This table stores all of the site traffic activity and is used to populate the charts when the 'site traffic' page is loaded.  Entries are deleted after a day.</p>
                        </li>
                    </ul>
                </li>
                <li>
                    <b>Graphs</b>
                    <p>Currently showing a few different Python matplotlib graphs.</p>
                </li>
                <li>
                    <b>Site Traffic</b>
                    <p>I'm using the 'Pusher' message publishing software(<a href="https://pusher.com/" target="_blank">https://pusher.com</a>) to send/receive messages for users' activities on this site.  I registered an account, set up one channel for this site, and saved the keys/etc to cfg/.config to use when sending, receiving, and subscribing to it. It monitors activity for all of the Flask endpoints defined in this app/site(main.py).  Logic in main.py will detect when endpoints of the site are accessed and then use the Pusher_handler class to publish the message/event to the channel and save it to the site_traffic_init database table.  The JavaScript in site_traffic.html subscribes to the channel and handles updating the charts for the incoming messages</p>
                </li>
            </ol>
            <h5 style="text-align:center"><b>Python Classes</b></h5>
            <h6 style="text-align:center"><b>./portfolio/services/*.py and ./portfolio/main.py</b></h6>
            <ol style="list-style-type:disc !important;padding-left:2vw !important">
                <li>
                    <p><b>main.py</b>:  The main Flask application where the page entry points are set up and a lot of the main logic happens</p>
                </li>
                <li>
                    <p><b>Portfolio_base</b>:  base class that handles opening the config file, all database operations, and also sets up logging using the python 'logging' module.</p>
                </li>
                <li>
                    <p><b>BaseWeb</b>:  sub-class of portfolio that defines the call_requests function.</p>
                </li>
                <li>
                    <p><b>Youtube_reader</b>: sub-class of BaseWeb.  Handles calls to the Google/Youtube apis</p>
                </li>
                <li>
                    <p><b>Wikipedia_reader</b>: sub-class of BaseWeb with added method to run the Curl command that gets the authentication token from Wikipedia.  Handles the data sent to/from Wikipedia</p>
                </li>
                <li>
                    <p><b>My_DV</b>: sub-class of Portfolio_base that handles all of the matplotlib logic used in the 'Graphs' section of this site.</p>
                </li>
                <li>
                    <p><b>Pusher_handler</b>: sub-class of Portfolio_base that handles publishing the messages for site activities and saving them to the database.  Javascript in templates/site_traffic.html listens for the messages and handles displaying the charts.</p>
                </li>
                <li>
                    <p><b>Exception Handling</b>  I put a lot of energy into making sure that issues caught in try/except blocks would make their way to the screen using the 'error_modal.html'. so far, so good.  That modal window ends up popping up sometimes when I least expect it to and it makes troubleshooting very efficient. </p>
                </li>
            </ol>
            <h5 style="text-align:center"><b>HTML/CSS/JavaScript</b></h5>
            <h6 style="text-align:center"><b>css: ./portfolio/static/styles/style.css HTML/JavaScript: ./portfolio/templates/*.html</b></h6>
            <ol style="list-style-type:disc !important;padding-left:2vw !important">
                <li>
                    <p><b>HTML</b>:  The use of Flask inheritance and Jinja has made these files as small and readable as possible.</p>
                </li>
                <li>
                    <p><b>JavaScript</b>: The main javascript handles deleting wiki/youtube entries, displaying certain sections of the library, and updating the progress bar. Most of the logic in the 'site traffic' page is using javascript to listen for published messages and retrieve data for the page's initialization.</p>
                </li>
                <li>
                    <p><b>CSS</b>:  A lot was taken from the initial template I used from wix.com. I added a lot of other items too.</p>
                </li>
            </ol>
            <h5 style="text-align:center"><b>Config items</b></h5>
            <h6 style="text-align:center"><b>./portfolio/cfg/.config</b></h6>
            <ol style="list-style-type:disc !important;padding-left:2vw !important">
                <li>
                    <p><b>cfg/.config and cfg/config</b>:  All of the items needed are saved here to make the python code more readable and maintainable.  The cfg/.config file has the 'real' passwords/etc needed to connect to the various external APIs, the cfg/config file is basically a copy with dummy values in the passwords/keys/secrets/etc.  I added a line to the .gitignore file so that only the config file with the dummy keys/passwords would go to my github account.</p>
                </li>
            </ol>
        </div>
    </div>
</div>
{% endblock content %}