{% extends "base.html" %}

{% block title %}Doug McIntosh Charts{% endblock %}
<!--<div style="width:100vw;height:2vh;background-color:#37324b"></div>-->
{% block site_selection %}{% endblock site_selection %}
{% block content %}
<!--<form id="search" style="align-items:center;text-align:center;margin-top:1vh;margin-bottom:1vh" action="{{ url_for('data_analysis') }}" method="post">
   <label for=""topic">Create Graph for a Topic</label>
   <select id="topic" name="topics">
     {% for mytopic in content.topics %}
     <option value="{{mytopic}}">{{mytopic}}</option>
     {% endfor %}
   </select>
   <input type="submit" />
</form>-->
{% endblock content %}
{% block search_results %}
<div style="text-align: center; background-color: #fff">
    {% include 'nav_bar.html' %}
    <h6><b>Matplotlib Charts</b></h6>
    <section style="display: flex">
        <div>
            {% for k in content.types %}
            <form id="{{k}}" onclick="showProgressBar();" action="{{url_for('data_analysis')}}?graph={{k}}" method="post">
                <input value="{{k}}" type="submit" class="full-width-button" style="text-align:left">
            </form>
            {% endfor %}
        </div>
        {% include 'error_modal.html' %}
        {% include 'video_list_modal.html' %}
        {% include 'progress_bar.html' %}
        <div id="myData" style="justify-content: center;display:flex">
            {% if content.graphs %}
            {% for gk,each_graph in content.graphs.items() %}
            {% if each_graph.videos %}
            <div>
                <input type="submit" onclick="open_video_list();" value="Video List" />
            </div>
            {% endif %}
            <div id="{{each_graph}}" style="height: 60vh; overflow-y: scroll">
                <img src="data:image/png;base64,{{each_graph['bytes']}}" />
            </div>
            {% endfor %}
            {% else %}
            {% if content.no_data %}
            <h4 style="text-align:center">{{content.no_data}}</h4>
            {% endif %}
            {% endif %}
        </div>
    </section>
</div>
{% endblock search_results %}
