<div id="how_to" style="margin-bottom:5vh;display:block;text-align:center;overflow-y:scroll">
    <h2>What is this?</h2>
    <ol style="list-style-type:disc !important;padding-left:2vw !important;text-align:left">
        <li>
            <p>A simple site to organize Wikipedia entries and related Youtube videos for topics of interest</p>
        </li>
        <li>
            <p>It also creates a few Matplotlib graphs and displays real time data showing counts of visited endpoints(routes) of this site.</p>
        </li>
    </ol>
    <h2>How to Use</h2>
    <ol style="list-style-type:disc !important;padding-left:2vw !important;text-align:left">
        <li>
            Choose a library from the dropdown to look at the content or add new content
        </li>
        <li>
            <h4>Navigation bar:</h4>
            <ol style="list-style-type:disc !important;padding-left:2vw !important;text-align:left">
                <li>
                    <p><img src="static/assets/add_library.svg" alt="Create new Library"> - Create a new library/database, then search/add the topics you want.</p>
                </li>
                <li>
                    <p><img src="static/assets/switch.svg" alt="Switch Library"> - switch to a different library from the dropdown.</p>
                </li>
                <li>
                    <p><img src="static/assets/search.svg" alt="Wikipedia Search"> - Enter search text, choose the number of pages, and then search Wikipedia.  Choose from the resultant list and it will insert 20 related Youtube videos</p>
                </li>
                <li>
                    <p><img src="static/assets/library.svg" alt="Library Home"> - return to this page</p>
                </li>
                <li>
                    <p><img src="static/assets/graph.svg" alt="Graph page"> - go to the graph creation/viewing page.</p>
                </li>
                <li>
                    <p><img src="static/assets/site_traffic.svg" alt="Site Traffic"> - takes you to the 'site traffic' page.</p>
                </li>
            </ol>
        </li>
        <li>
            <h4>Library viewing/editing:</h4>
            <ol style="list-style-type:disc !important;padding-left:2vw !important;text-align:left">
                <li>
                    <p>You can add and delete entries by using the <img src="static/assets/delete.png" alt="Delete" height=20> and <img src="static/assets/add.png" alt="Add" height=20> icons.</p>
                </li>
                <li>
                    <p>The view clicks are saved and will show up in the graphs.</p>
                </li>
            </ol>
        </li>
    </ol>
</div>