{% extends "base.html" %}
{% block content %}
<body>
    {% block site_selection %}
    {% include 'site_selection_swiper.html' %}
    {% endblock site_selection %}
    
    <!-- Some Javascript -->
    <script src="static/js/jquery-2.1.1.js"></script>
    <script src="static/js/swiper.jquery.min.js"></script>
    <!-- Initialize Client Swiper -->
    <script>
        var swiper1 = new Swiper('.client-swiper', {
            slidesPerView: 3,
            paginationClickable: true,
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            spaceBetween: 60,
            // Responsive breakpoints
            breakpoints: {
                // when window width is <= 320px
                320: {
                    slidesPerView: 1,
                    spaceBetween: 10,
                    pagination: '.swiper-pagination'
                },
                // when window width is <= 480px
                480: {
                    slidesPerView: 1,
                    spaceBetween: 20
                },
                // when window width is <= 640px
                640: {
                    slidesPerView: 1,
                    spaceBetween: 30
                }
            }
        });
    </script>
    <!--<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>-->
    <script src="static/js/jquery.counterup.min.js"></script>
    <script>
        // Counterup
        $('.counter').counterUp({
            time: 1000
        });

        // Main Navigation
        $('#menu-toggle').click(function () {
            $(this).toggleClass('open'),
                $('.main-nav').toggleClass('show-it');
        })
    </script>
</body>
{% endblock content %}