<div id="intro_text" class="modal" style="margin-left:20vw;margin-top:35vh;margin-bottom:10vh;margin-right:5vw;width:75vw;height:50vh">
    <div class="modal-header">
        <h4>Wikipedia/Youtube Library <a id="intro_close" class="close-btn">X</a></h4>
    </div>
    <div class="modal-content">
        <h4>Click an item on the left to view its contents and peruse the Wikipedia and/or Youtube pages</h4>
        <h3 style="text-align:center">OR</h3>
        <h4>Enter a search string of your choosing into the text box above, click submit, choose which items you would like to save, and then click the 'Save to Database' button.</h4>
        <h4>Any views of the Wikipedia/Youtube pages will be stored and will show up in the 'Data Visualization' section of this site.</h4>
    </div>
</div>