<div id="myProgress" class="modal">
    <div>
        <h4 id="modal_close">Loading...<a id="modal_close" class="close-btn">X</a></h4>
    </div>
    <div id="progress_bar"></div>
    <div id="progress_text" style="text-align:center"><b>0%</b></div>
</div>
<style>
    #myProgress {
        width: 45vw;
        height: 100px;
        background-color: darkgrey;
        align-items: center;
        vertical-align: middle;
        display: none;
        position: relative;
        border: 1px solid black;
        margin-left: 25vw;
    }

    #progress_bar {
        width: 1%;
        height: 30px;
        background-color: #37324b;
        text-align: center;
        line-height: 30px;
        color: white;
    }
</style>
<script>
    
    function hideProgressBar() {
        document.getElementById('myProgress').style.display = 'none';
}
    function showProgressBar() {
        document.getElementById('myData').innerHTML = '';
        document.getElementById('myProgress').style.display = 'block';
        /*fetch("{{url_for('progress')}}")
            .then(response => response)
            .then(data => {
                alert('we got data: ' + data)
                /*document.getElementById('progress_bar').innerHTML = data;
            })
            .catch(error => alert('Error after progress: ' + error));
            alert('Respone from progress: ' + response)*/
        updateProgress()
            
    }
    function sleep(ms) {
        return new Promise(
            resolve => setTimeout(resolve, ms)
        );
    }
    async function updateProgress() {
        const progressBar = document.getElementById('progress_bar');
        const progressText = document.getElementById('progress_text');
        var curr_prog = 0;
        for (each of [25,50,75,100]) {
            for (i = curr_prog; i <= each; i++) {
                progressBar.style.width = i + '%';
                if (i % 10 == 0) {
                    progressText.innerHTML = i + '%';
                }
                await sleep(50);
            }
            curr_prog = each;
        }
    }
</script>