{% extends "index.html" %}
{% block site_selection %}{% endblock site_selection %}
{% block content %}{% endblock content %}
{% block search_results %}
{% include 'nav_bar.html' %}
<section style="width: 100vw; height:100vh;background-color: #fff;">
    <h6 style="text-align:center">Site Traffic Page</h6>
    <div id="outer_container" style="width:100vw;height:62vh;overflow-y:scroll;margin-left:1vw;margin-right:1vw">
        {% if content.routes %}
        {% for k in content.routes.keys()|sort %}
        <div id="{{k}}" style="border:1px solid black"></div>
        {% endfor %}
        {% endif %}
    </div>
    {% include 'error_modal.html' %}
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://js.pusher.com/8.3.0/pusher.min.js"></script>
    <script type="text/javascript">
    var my_routes = {{content.routes | tojson}};
    var init_data = {{content.data | tojson}};
          //alert(' init data: ' + Object.entries(init_data) + ' routes: ' + Object.entries(my_routes))
          const time_ticks_dict = {};
        for (const [key, dlist] of Object.entries(init_data)) {
            if (time_ticks_dict[key] == undefined) {
                time_ticks_dict[key] = {};
            }
            for (const [dk, dv] of Object.entries(dlist)) {
                time_ticks_dict[key][dk] = dv;
            }
              //alert('Time dict entry: ' + key + ' ' + Object.entries(time_ticks_dict[key]))
          }
          
          // Set the interval to 60000 milliseconds (1 minute)
          // adding entries for inactive routes is going to cause more of a headache than this is worth
          //setInterval(insertNonActiveEntries, 60000);
          var pusher = new Pusher("{{app_key}}", { cluster: "{{app_cluster}}", });
          function get_curr_minute() {
              const now = new Date();
              const formatNumber = (num) => num.toString().padStart(2, '0');
              const month = now.getMonth() + 1;
              const day = now.getDate();
              const hours = formatNumber(now.getHours());
              const minutes = formatNumber(now.getMinutes());
              const seconds = formatNumber(now.getSeconds());
              mmddhhmmss = month + '/' + day + '_' + hours + ":" + minutes + ":" + '00';
              return mmddhhmmss;
          }

          for (const [key,value] of Object.entries(my_routes)) {
              show_chart(key);
          }
          function add_to_time_ticks(route, row) {
              //alert(' add to time ticks: ' + route + ' data: ' + row + ' current time ticks: ' + Object.entries(time_ticks_dict))
              
              for (const [key, time_entries] of Object.entries(time_ticks_dict)) {
                  //alert('In loop: ' + key + ' route: ' + route + ' row: ' + row + ' entries: ' + Object.entries(time_entries))
                  if (key == route) {
                      //alert('Time entries for route ' + route + ' ' + time_entries + ' row: ' + row)
                      if (time_entries[row[0]] == undefined) {
                          time_entries[row[0]]=row[1];
                      }
                      else {
                          //alert(' adding to existing count')
                          time_entries[row[0]]+=row[1];
                      }
                  }
                  else {
                      //alert('Time entries non-route: ' + key + ' ' + time_entries + ' row: ' + row[0] + ' count: ' + row[1])
                      if (time_entries[row[0]] == undefined) {
                          time_entries[row[0]] = 0;
                      }
                  }
              }
          }
          function show_chart(route) {

              google.charts.load("current", { packages: ["corechart"] });

              google.charts.setOnLoadCallback(() => {
                  // Instead of hard-coding the initial table data,
                  // you could fetch it from your server.
                  var dataTable = new google.visualization.DataTable();
                  dataTable.addColumn('string', 'Time');
                  dataTable.addColumn('number', 'Count');
                  //dataTable.addRow(['hello', 5]);
                  //alert('adding to data table: ' + route + ' ' + Object.entries(time_ticks_dict[route]))
                  for (const [ddate, dcount] of Object.entries(time_ticks_dict[route])) {
                      //alert('Adding entry to chart for: ' + route + ' date: ' + ddate + ' count: ' + dcount)
                      dataTable.addRow([ddate, dcount]);
                  }
                  const chart = new google.visualization.AreaChart(
                      document.getElementById(route)
                  );
                  const options = {
                      title: route,
                      hAxis: { title: "Time", titleTextStyle: { color: "#333" } },
                      vAxis: { minValue: 0 },
                      animation: { duration: 100, easing: "out" },
                  };
                  chart.draw(dataTable, options);
                  Pusher.logToConsole = true;
                  const pusher = new Pusher(
                      "{{app_key}}", // Replace with 'key' from dashboard
                      {
                          cluster: "{{app_cluster}}", // Replace with 'cluster' from dashboard
                          forceTLS: true,
                      }
                  );
                  const channel = pusher.subscribe("portfolio");
                  channel.bind('pusher:subscription_succeeded', function (members) {
                      console.log('successfully subscribed to portfolio channel');
                  });
                  channel.bind(route, (data) => {
                      //alert(route + ' received message in bottom part: ' + Object.entries(data))
                      var ev_time = data['message-created'];
                      var new_row = [ev_time, 1];
                      //alert('add to time ticks: ' + route + ' row: ' + new_row )
                      add_to_time_ticks(route, new_row);
                      //alert(' populating list row: ' + new_row)
                      var found = false;
                      for (var y = 0, maxrows = dataTable.getNumberOfRows(); y < maxrows; y++) {
                          //alert(route + ' data table entry: ' + dataTable.getValue(y, 0) + ' looking for: ' + new_row[0])
                          if (dataTable.getValue(y, 0) == new_row[0]) {
                              found = true;
                              dataTable.setValue(y,1,dataTable.getValue(y,1) + 1)
                          }
                      }
                      if (!found) {
                          dataTable.addRow(new_row);
                      }
                      chart.draw(dataTable, options);
                  });
              });
          }
    </script>
</section>
{% endblock search_results %}
