
<div id="view_data" style="height: 65vh; overflow-y: scroll">
    <div id="table-wrapper">
        <div id="table-scroll">
            <table id="main_table">
                {% for k,v in content.db_data.items() %}
                <tbody id="{{k}}" style="display:block" name="table_section">
                    <tr style="height:5vh">
                        <td style="vertical-align:middle;text-align:center;position:sticky;top:0px" colspan=4>
                            <form action="{{url_for('wiki_search_results')}}?search_string={{k}}" method="post">
                                <h4>{{k}}&nbsp&nbsp&nbsp&nbsp<input type="image" src="static/assets/add.png" height=25 /></h4>
                            </form>
                        </td>
                    </tr>
                    {% for page in v['pages'] %}
                    <tr id="{{page.id}}_row" style="height:10vh;">
                        <td style="border:none !important">
                            <input type="image" src="static/assets/delete.png" width=20 height=20 id="delete_entry" onclick="delete_entry('{{url_for("delete_entry")}}?wiki_id={{page.id}}&topic={{k}}', '{{page.id}}');" />
                        </td>
                        <td>
                            <div id="{{page.id}}" style="display:flex;">
                                {% if page.thumbnail.url %}
                                <a onclick="add_view_count('{{url_for("add_view_count")}}','{{page.id}}','Wikipedia');" href="{{page.url}}" target="_blank"><img style="height:auto;" src="{{page.thumbnail['url']}}" width="{{page.thumbnail['width']}}" height="{{page.thumbnail['height']}};border:none" /></a>
                                <p>&nbsp&nbsp{{page.title}}</p>
                                {% else %}
                                <a onclick="add_view_count('{{url_for("add_view_count")}}','{{page.id}}','Wikipedia');" href="{{page.url}}" target="_blank">{{page.title}}</a>
                                {% endif %}
                            </div>
                        </td>
                        <td style="border:none !important">
                            <form action="{{url_for('wiki_search_results')}}?youtube=true&wiki_id={{page.id}}&search_string={{page.title}}" method="post">
                                <input type="image" src="static/assets/add.png" width=23 height=23 />
                            </form>
                        </td>
                        <td>
                            {% if page['youtube_videos'] %}
                            <div style="height:25vh;overflow-y:scroll">
                                {% for each_video in page['youtube_videos'] %}
                                <table>
                                    <tr id="{{each_video.id}}_row">
                                        <td style="width:3vw">
                                            <input type="image" src="static/assets/delete.png" width=20 height=20 id="delete_entry" onclick="delete_entry('{{url_for("delete_entry")}}?yt_id={{each_video.id}}&topic={{k}}&yt_wiki_id={{page.id}}', '{{each_video.id}}');" />
                                        </td>
                                        <td>
                                            <div id="{{each_video.id}}" style="display:flex;border:1px solid black">
                                                {% if each_video.thumbnail.url %}
                                                <a onclick="add_view_count('{{url_for("add_view_count")}}','{{each_video.id}}','Youtube');" href="{{each_video.url}}" target="_blank"><img src="{{each_video.thumbnail['url']}}" width="{{each_video.thumbnail['width']}}" height="{{each_video.thumbnail['height']}}" /></a>
                                                <p>{{each_video.title}}</p>
                                                {% else %}
                                                <a onclick="add_view_count('{{url_for("add_view_count")}}','{{each_video.id}}','Youtube');" href="{{each_video.url}}" target="_blank">{{each_video.title}}</a>
                                                {% endif %}
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                {% endfor %}
                            </div>
                            {% else %}
                            <div>
                                <p>No Youtube Videos found</p>
                            </div>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>