{% extends "index.html" %}
{% block title %}Doug McIntosh Library{% endblock %}
{% block content %}
<section>
        {% include 'nav_bar.html' %}
        <!--{% if content.show_delete_db %}
        <form style="margin-left:25px" id="delete_db" action="{{ url_for('delete_db')}}" method="post">
            <input type="submit" id="delete" value="Delete Library?"/>
        </form>
        {% endif %}-->
</section>
{% endblock content %}
{% block search_results %}
<h6 style="text-align:center">Library Search Page</h6>
<section id="myData" style="height:65vh;overflow-y:scroll;width:100vw;display:flex">
    {% include 'choose_library_modal.html' %}
    {% if content.db_data %}
    <div class="left-side-column">
        {% for k in content.db_data.keys() %}
        <div style="border:solid 1px black">
            <p style="text-align:left" class="clickable-cell" onclick="showData('{{k}}');">{{k}}</p>
        </div>
        {% endfor %}
    </div>
    {% include 'error_modal.html' %}
    <div style="width:80vw">
        <div id="table-wrapper">
            <div id="table-scroll">
                <table id="main_table">
                    {% for k,v in content.db_data.items() %}
                    <tbody id="{{k}}" style="display:none" name="table_section">
                        <tr style="height:5vh">
                            <td style="text-align:center;position:sticky;top:0px" colspan=3>
                                <h4>{{k}}</h4>
                            </td>
                        </tr>
                        {% for page in v['pages'] %}
                        <tr id="{{page.id}}_row" style="height:10vh;">
                            <td>
                                <input type="image" src="static/assets/delete.png" width=20 height=20 id="delete_entry" onclick="delete_entry('{{url_for("delete_entry")}}?wiki_id={{page.id}}', '{{page.id}}');" />
                            </td>
                            <td>
                                <div id="{{page.id}}" style="display:flex;">
                                    {% if page.thumbnail.url %}
                                    <a onclick="add_view_count('{{url_for("add_view_count")}}','{{page.id}}','Wikipedia');" href="{{page.url}}" target="_blank"><img style="height:auto;" src="{{page.thumbnail['url']}}" width="{{page.thumbnail['width']}}" height="{{page.thumbnail['height']}};border:none" /></a>
                                    <p>&nbsp&nbsp{{page.title}}</p>
                                    {% else %}
                                    <a onclick="add_view_count('{{url_for("add_view_count")}}','{{page.id}}','Wikipedia');" href="{{page.url}}" target="_blank">{{page.title}}</a>
                                    {% endif %}
                                </div>
                            </td>
                            <td>
                                {% if page['youtube_videos'] %}
                                <div style="height:25vh;overflow-y:scroll">
                                    {% for each_video in page['youtube_videos'] %}
                                    <table>
                                        <tr id="{{each_video.id}}_row">
                                            <td style="width:3vw">
                                                <input type="image" src="static/assets/delete.png" width=20 height=20 id="delete_entry" onclick="delete_entry('{{url_for("delete_entry")}}?yt_id={{each_video.id}}', '{{each_video.id}}');" />
                                            </td>
                                            <td>
                                                <div id="{{each_video.id}}" style="display:flex;border:1px solid black">
                                                    {% if each_video.thumbnail.url %}
                                                    <a onclick="add_view_count('{{url_for("add_view_count")}}','{{each_video.id}}','Youtube');" href="{{each_video.url}}" target="_blank"><img src="{{each_video.thumbnail['url']}}" width="{{each_video.thumbnail['width']}}" height="{{each_video.thumbnail['height']}}" /></a>
                                                    <p>{{each_video.title}}</p>
                                                    {% else %}
                                                    <a onclick="add_view_count('{{url_for("add_view_count")}}','{{each_video.id}}','Youtube');" href="{{each_video.url}}" target="_blank">{{each_video.title}}</a>
                                                    {% endif %}
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                    {% endfor %}
                                </div>
                                {% else %}
                                <div>
                                    <p>No Youtube Videos found</p>
                                </div>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!--<h5 style="text-align:center">
            Database is currently empty.  Enter a search term into the text box and choose which items you would like to save.
        </h5>-->
        {% endif %}
    </div>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="static/js/bootstrap.js"></script>
    <script type="text/javascript">
        var choose_text = document.getElementById('choose_library_text');
        if ("{{content.CHOOSE_LIBRARY}}" && !"{{content.errors}}") {

            var close_btn = document.getElementById('choose_close');
            close_btn.onclick = function () {
                choose_text.style.display = 'none';
            };
            choose_text.style.display = 'block';
        }
        else {
            choose_text.style.display = 'none';
        }
        function add_view_count(url, video_id, type) {
            //alert("calling add_video_count url: " + url + ' video id: ' + video_id + " type: " + type)
            fetch(url + '?video_id=' + video_id + "&type=" + type, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(response => response.json())
                .then(data => {
                    //alert("data received: " + data.message)
                })
                .catch(error => alert('Error after trying db view count insert:', error));
        };
        function delete_entry(url, page_id) {
            //alert("calling delete_entry url: " + url)
            document.getElementById(page_id + "_row").style.display = 'none';

            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(response => response.json())
                .then(data => {
                    //alert("data received: " + data.message)
                })
                .catch(error => alert('Error after trying db view count insert:', error));
        };
        function showData(sectionId) {
            document.getElementById('intro_text').style.display = 'none';
            /* set all sections of the table to hidden, and then set the selected one to not hidden*/
            var section = document.getElementById(sectionId);
            var all_sections = document.getElementsByName('table_section');
            for (let i = 0; i < all_sections.length; i++) {
                document.getElementById(all_sections[i].id).style.display = 'none';
            }
            section.style.display = 'inline-block';
        };
    </script>
</section>
{% endblock search_results %}

