{% extends "index.html" %}
{% block title %}Doug McIntosh Library{% endblock title %}
{% block main_nav_bar %}
  {% include 'nav_bar.html' %}
{% endblock main_nav_bar %}
{% block content %}{% endblock content %}
{% block search_results %}
<div class="container">
<h6 style="text-align:center"><b>Library Home</b></h6>
<section id="myData" class="main-view">
    {% include 'choose_library_modal.html' %}
    {% if content.db_data %}
    <div class="left-side-column">
        {% for k in content.db_data.keys() %}
          <p class="clickable-cell" onclick="getTopicData('{{k}}');">{{k}}</p>
        {% endfor %}
    </div>
    {% include 'error_modal.html' %}
    <div>
        <h2 id="loading" style="display:none;text-align:center;justify-content:center;vertical-align:middle">Loading...</h2>
        <div id="view_topic"></div>
        {% include 'how_to.html' %}
    </div>
    {% else %}
    {% include 'how_to.html' %}
    {% endif %}
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="static/js/bootstrap.js"></script>
    <script type="text/javascript">
        var db_data="{{content.db_data}}";
        var choose_text = document.getElementById('choose_library_text');
        if ("{{content.CHOOSE_LIBRARY}}" && !"{{content.errors}}") {

            var close_btn = document.getElementById('choose_close');
            close_btn.onclick = function () {
                choose_text.style.display = 'none';
            };
            choose_text.style.display = 'block';
        }
        else {
            choose_text.style.display = 'none';
        }
        function add_view_count(url, video_id, type) {
            //alert("calling add_video_count url: " + url + ' video id: ' + video_id + " type: " + type)
            fetch(url + '?video_id=' + video_id + "&type=" + type, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(response => response.json())
                .then(data => {
                    //alert("data received: " + data.message)
                })
                .catch(error => alert('Error after trying db view count insert:', error));
        };
        function delete_entry(url, page_id) {
            //alert("calling delete_entry url: " + url)
            document.getElementById(page_id + "_row").style.display = 'none';

            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(response => response.json())
                .then(data => {
                    //alert("data received: " + data.message)
                })
                .catch(error => alert('Error after trying db view count insert:', error));
        };
        function getTopicData(topic) {
            if (document.getElementById('view_topic')) {
                document.getElementById('view_topic').style.display = 'none';
                document.getElementById('how_to').style.display = 'none';
            }
            document.getElementById('loading').style.display = 'block';
            fetch('/view_topic?topic=' + topic)
                .then(response => response.json())
                .then(data => {
                    // Update the content of the div with id 'content'
                    document.getElementById('loading').style.display = 'none';
                    document.getElementById('view_topic').innerHTML = data.html;
                    document.getElementById('view_topic').style.display = 'block';
                })
                .catch(error => alert('Error fetching data for:' + topic + ' : ' + error));

            /*const response = await fetch('/view_topic?topic=' + topic);
            const data = await response.json();*/
        }
        function showData(sectionId) {
            document.getElementById('intro_text').style.display = 'none';
            /* set all sections of the table to hidden, and then set the selected one to not hidden*/
            var section = document.getElementById(sectionId);
            var all_sections = document.getElementsByName('table_section');
            for (let i = 0; i < all_sections.length; i++) {
                document.getElementById(all_sections[i].id).style.display = 'none';
            }
            section.style.display = 'inline-block';
        };
    </script>
</section>
</div>
{% endblock search_results %}