{% extends "index.html" %}
{% block title %}Doug McIntosh Library{% endblock %}
{% block site_selection %}{% endblock site_selection %}
{% block content %}{% endblock content %}
{% block search_results %}
{% include 'nav_bar.html' %}
<section id="myData" style="width: 100vw; height:100vh;display: flex; background-color: #fff;">
    {% include 'choose_library_modal.html' %}
    {% include 'intro_modal.html' %}
    {% if content.db_data %}
    <div class="left-side-column">
        <h6 style="text-align:center"><b>Topics</b></h6>
        <div style="height:65vh;overflow-y:scroll">
            {% for k in content.db_data.keys() %}
            <div style="border:solid 1px black">
                <p style="text-align:left" class="clickable-cell" onclick="getTopicData('{{k}}');">{{k}}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    {% include 'error_modal.html' %}
    <div style="width:80vw">
        <h6 style="text-align:center"><b>Library Home</b></h6>
        <h2 id="loading" style="display:none;text-align:center;justify-content:center;vertical-align:middle">Loading...</h2>
        <div id="how_to" style="margin-bottom:5vh;display:block;text-align:center;height:60vh;overflow-y:scroll">
            <h2>What is this?</h2>
            <ol style="list-style-type:disc !important;padding-left:2vw !important;text-align:left">
                <li>
                    <p>A simple site to organize Wikipedia entries and related Youtube videos for topics of interest</p>
                </li>
                <li>
                    <p>It also creates a few Matplotlib graphs and displays real time data showing counts of visited endpoints(routes) of this site.</p>
                </li>
            </ol>
            <h2>How to Use</h2>
            <ol style="list-style-type:disc !important;padding-left:2vw !important;text-align:left">
                <li>
                    Click on items on the left side of this screen to view items from the library (I really like jazz/fusion music)'
                </li>
                <li>
                    <h4>Navigation bar:</h4>
                    <ol style="list-style-type:disc !important;padding-left:2vw !important;text-align:left">
                        <li>
                            <p><img src="static/assets/add_library.svg" alt="Create new Library"> - Create a new library/database, then search/add the topics you want.</p>
                        </li>
                        <li>
                            <p><img src="static/assets/switch.svg" alt="Switch Library"> - switch to a different library from the dropdown.</p>
                        </li>
                        <li>
                            <p><img src="static/assets/search.svg" alt="Wikipedia Search"> - Enter search text, choose the number of pages, and then search Wikipedia.  Choose from the resultant list and it will insert 20 related Youtube videos</p>
                        </li>
                        <li>
                            <p><img src="static/assets/library.svg" alt="Library Home"> - return to this page</p>
                        </li>
                        <li>
                            <p><img src="static/assets/graph.svg" alt="Graph page"> - go to the graph creation/viewing page.</p>
                        </li>
                        <li>
                            <p><img src="static/assets/site_traffic.svg" alt="Site Traffic"> - takes you to the 'site traffic' page.</p>
                        </li>
                    </ol>
                </li>
                <li>
                    <h4>Library viewing/editing:</h4>
                    <ol style="list-style-type:disc !important;padding-left:2vw !important;text-align:left">
                        <li>
                            <p>You can add and delete entries by using the <img src="static/assets/delete.png" alt="Delete" height=20> and <img src="static/assets/add.png" alt="Add" height=20> icons.</p>
                        </li>
                        <li>
                            <p>The view clicks are saved and will show up in the graphs.</p>
                        </li>
                    </ol>
                </li>
            </ol>
        </div>
        <div id="view_topic"></div>
    </div>
    {% endif %}
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="static/js/bootstrap.js"></script>
    <script type="text/javascript">
        var db_data="{{content.db_data}}";
        var choose_text = document.getElementById('choose_library_text');
        if ("{{content.CHOOSE_LIBRARY}}" && !"{{content.errors}}") {

            var close_btn = document.getElementById('choose_close');
            close_btn.onclick = function () {
                choose_text.style.display = 'none';
            };
            choose_text.style.display = 'block';
        }
        else {
            choose_text.style.display = 'none';
        }
        function add_view_count(url, video_id, type) {
            //alert("calling add_video_count url: " + url + ' video id: ' + video_id + " type: " + type)
            fetch(url + '?video_id=' + video_id + "&type=" + type, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(response => response.json())
                .then(data => {
                    //alert("data received: " + data.message)
                })
                .catch(error => alert('Error after trying db view count insert:', error));
        };
        function delete_entry(url, page_id) {
            //alert("calling delete_entry url: " + url)
            document.getElementById(page_id + "_row").style.display = 'none';

            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(response => response.json())
                .then(data => {
                    //alert("data received: " + data.message)
                })
                .catch(error => alert('Error after trying db view count insert:', error));
        };
        function getTopicData(topic) {
            if (document.getElementById('view_topic')) {
                document.getElementById('view_topic').style.display = 'none';
                document.getElementById('how_to').style.display = 'none';
            }
            document.getElementById('loading').style.display = 'block';
            fetch('/view_topic?topic=' + topic)
                .then(response => response.json())
                .then(data => {
                    // Update the content of the div with id 'content'
                    document.getElementById('loading').style.display = 'none';
                    document.getElementById('view_topic').innerHTML = data.html;
                    document.getElementById('view_topic').style.display = 'block';
                })
                .catch(error => alert('Error fetching data for:' + topic + ' : ' + error));
            
            /*const response = await fetch('/view_topic?topic=' + topic);
            const data = await response.json();*/
        }
        function showData(sectionId) {
            document.getElementById('intro_text').style.display = 'none';
            /* set all sections of the table to hidden, and then set the selected one to not hidden*/
            var section = document.getElementById(sectionId);
            var all_sections = document.getElementsByName('table_section');
            for (let i = 0; i < all_sections.length; i++) {
                document.getElementById(all_sections[i].id).style.display = 'none';
            }
            section.style.display = 'inline-block';
        };
    </script>
</section>
{% endblock search_results %}